.margin-auto {
  margin: auto;
}

.padding-left-8 {
  padding-left: 8em;
}

@font-face {
  font-family: proxima-nova;
  src: url('./assets/font/proxima_ssv/ProximaNova-Regular.otf')
}

.font-family--proxima-nova {
  font-family: proxima-nova;
}

.color-black {
  color: black !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.color-blue-283295 {
  background-color: #283295 !important;
}